.activities-section {
    .activities {
        font-family: $header-font-family;
        font-size: 22px;
        color: #fff;
        text-align: center;

        h5 {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        img {
            max-width: 100%;
            width: 100%;
        }
    }

    .sports {
        // background: url('../assets/block1Sports.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .wellness {
        // background: url('../assets/block2Wellness.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .expeditions {
        // background: url('../assets/block3Expeditions.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .games {
        // background: url('../assets/block4Games.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .culture {
        // background: url('../assets/block5Culture.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .beauty {
        // background: url('../assets/block6Beauty.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }

    .travelling {
        // background: url('../assets/block7Travelling.jpg') no-repeat center center;
        // background-size: cover;
        // padding: 10px;
        // margin: 10px;
        // position: relative;
    }
}