.activities-section {
    .activities {
        font-family: $header-font-family;
        font-size: 22px;
        color: #fff;
        // text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;

        h5 {
            // position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: rem-calc(40);
            position: absolute;
            // top: rem-calc(100);
            // left: rem-calc(100);
            text-align: center;
            // width: rem-calc(60);
            // height: rem-calc(60);
        }
    }

    .sports {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block1Sports.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .wellness {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block2Wellness.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .expeditions {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block3Expeditions.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .games {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block4Games.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .culture {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block5Culture.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .beauty {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block6Beauty.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    .travelling {
        background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url('../assets/block7Travelling.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        height: rem-calc(310);

        // h5 {
        //     padding: rem-calc(50);
        //     position: absolute;
        //     top: rem-calc(40);
        //     left: rem-calc(40);
        // }
    }

    // .activites-top {
    //     margin-bottom: 10px;
    //     margin-top: 10px;
    // }

    // .activites-middle {
    //     margin-bottom: 10px;
    //     margin-top: 10px;
    // }

    // .activites-bottom {
    //     margin-bottom: 10px;
    //     margin-top: 10px;
    // }
}