.banner {
    background: url('../assets/headerBackground.jpg') no-repeat center center;
    background-size: cover;
    color: #FFFFFF;

    #logo {
        color: #FFFFFF;
    }

    .menu {
        float: right;

        .signup{
            border-radius: rem-calc(20);
            text-align: center;
            color: #FFFFFF;
        }

        li {
            a {
                color: #FFFFFF;
            }
        }  
    }

    .heading {
        text-align: center;
        padding: rem-calc(150 10);

        .banner-text{
            text-align: center;
            color: #FFFFFF;
            margin-bottom: rem-calc(20);
        }

        .banner-sub-text{
            text-align: center;
            color: #FFFFFF;
            margin-bottom: rem-calc(20);
        }

        .banner-main-button{
            border-radius: rem-calc(20);
            text-align: center;
            color: #FFFFFF;
        }
    }
    
}

