.footer ul {
    font-family: $body-font-family;
    font-size: 14px;
    color: #999999 ;
    letter-spacing: 0;
    line-height: 26px;
}

.footer h6 {
    font-family: $header-font-family;
    font-size: 14px;
    color: #444444;
    font-weight:bold;
}

.footer-logo h6 {
    color: #FF4E50;
}