.partner-section {
    .heading-partner-section {
        font-family: $header-font-family;
        font-size: 22px;
        color: #444444;
        padding: rem-calc(60 10);
        text-align: center;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 27px;
    }

    .partner-section-images {
        padding: rem-calc(0 40);
    
        .circle-img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            .circle-music{
                background-color: #FF4E50;
            }

            .circle-brush{
                background-color: #18D4CA;          
            }

            .circle-camera{
                background-color: #FFA710;
            }

            .circle-airplane{
                background-color: #667DF3;
            }

            .icon {
                position: absolute;
                bottom: 0;
                right: 0;
                border: 2px solid #FEFFFC;
                z-index: 17;
                width: 32px;
                height: 32px;
                border-radius: rem-calc(16); 
                text-align: center;

                .icon-music, 
                .icon-brush, 
                .icon-camera, 
                .icon-airplane {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    line-height: 28px;
                    vertical-align: bottom;
                }
            }
        }

        .partner1 {
            background: url('../assets/partner1.jpg') no-repeat center center;
        }

        .partner2 {
            background: url('../assets/partner2.jpg') no-repeat center center;
        }

        .partner3 {
            background: url('../assets/partner3.jpg') no-repeat center center;
        }

        .partner4 {
            background: url('../assets/partner4.jpg') no-repeat center center;
        }

        h5 {
            font-family: $header-font-family;
            font-size: 14px;
            color: #444444;
            padding: rem-calc(10);
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-family: $body-font-family;
            font-size: 14px;
            color: #666666;
            letter-spacing: 0;
            line-height: 18px;
            padding: rem-calc(0 20 10);
            text-align: center;
        }
    }

    .partner-section-button {
        text-align: center;
        margin-bottom: 60px;

        .partner-button {
            border: 2px solid #FA4E51 !important;
            color: #FA4E51 !important;
            border-radius: rem-calc(30);
            font-family: $header-font-family;
            font-size: 14px;
            letter-spacing: 0;
        }
    }   
}
