.partner-section {
    
    .circle-img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        // background: url('../assets/partner3.jpg') no-repeat center center;
    }

    .partner1 {
        background: url('../assets/partner1.jpg') no-repeat center center;
    }

    .partner2 {
        background: url('../assets/partner2.jpg') no-repeat center center;
    }

    .partner3 {
        background: url('../assets/partner3.jpg') no-repeat center center;
    }

    .partner4 {
        background: url('../assets/partner4.jpg') no-repeat center center;
    }
}