.partner-section {
    
    .circle-img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .partner1 {
        background: url('../assets/partner1.jpg') no-repeat center center;
    }

    .partner2 {
        background: url('../assets/partner2.jpg') no-repeat center center;
    }

    .partner3 {
        background: url('../assets/partner3.jpg') no-repeat center center;
    }

    .partner4 {
        background: url('../assets/partner4.jpg') no-repeat center center;
    }

    h5 {
        font-family: $header-font-family;
        font-size: 14px;
        color: #444444;
        padding: rem-calc(10);
        text-align: center;
    }

    p {
        font-family: $body-font-family;
        font-size: 14px;
        color: #666666;
        letter-spacing: 0;
        line-height: 18px;
        padding: rem-calc(10);
        text-align: center;
    }
}